// Grid
$phone: "only screen and (max-width : 480px)";
$bigthanphone: "only screen and (min-width : 480px)";
$ipad: "only screen and (max-width : 1024px)";
$ipadp: "only screen and (max-width : 768px)";
$large: "only screen and (max-width : 1200px)";

.mshow {
	@media #{$bigthanphone} {
		display: none;
	}
	@media #{$phone} {
		display: block;
	}
}

.mhide {
	@media #{$phone} {
		display: none;
	}
	@media #{$bigthanphone} {
		display: block;
	}
}

.container, .sub-container {
  	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.grid {
	width: 100%;
	height: 100%;
	overflow: auto;
	.full {
		width: 100%;
		float: left;
		overflow: auto;
	}
	.one-third {
		width: 33%;
		float: left;
		overflow: auto;
	}
	.two-third {
		width: 66%;
		float: left;
		overflow: auto;
	}
	.one-half{
		width: 50%;
		float: left;
		overflow: auto;
	}
	.one-fourth {
		width: 25%;
		float: left;
		overflow: auto;
	}
	.three-fourth {
		width: 75%;
		float: left;
		overflow: auto;
	}
	.one-fifth {
		width: 20%;
		float: left;
		overflow: auto;
	}
	.four-fifth {
		width: 80%;
		float: left;
		overflow: auto;
	}
	@media #{$phone} {
	  	.full, .one-half, .one-third, .two-third, .one-half, .one-fourth, .one-fifth  {
			width: 96% !important;
			padding-left: 2% !important;
			padding-right: 2% !important;
			float: none;
			padding-bottom: 20px;
			overflow: hidden;
			overflow: auto;
			img, iframe, video {
				width: 100% !important;
				height: auto !important
			}
		}
	}
}


.fixed {
	position: fixed;
	z-index: 9999999;
	.one-half:last-child {
		text-align: right;
	}
}

.fixed-top {
	position: fixed;
	z-index: 9999999;
	top: 0;
	.one-half:last-child {
		text-align: right;
	}
}

.fixed-bottom {
	position: fixed;
	z-index: 9999999;
	bottom: 0;
	.one-half:last-child {
		text-align: right;
	}
}

.c {
	text-align: center;
}

.r {
	text-align: right;
}


footer {
	width: 100%;
	min-height: 100px;
	@media #{$phone} {
		text-align: center;
	}
}