// Reset 

body {
	padding: 0px;
	margin: 0px;
}

img {
  max-width: 100%;
}


blockquote,
q:before,
q:after,
blockquote:before,
blockquote:after{
	content:"";
	content:none;
	quotes:none;
}

a img {
	border:none
}

a {
	text-decoration: none;
}

ol, 
ul,
li {
	list-style:none
}

p,dd,dl  {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

h1,h2,h3,h4,h5,h6,h7 {
	font-size: auto;
	font-weight: normal;
	line-height: auto;
	display: inherit;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}